{% for challenge in user_pk.user_challenge.all %}
    {% if challenge.status != 'Active' %}
        <div class="col-12 my-3">
            <div class="{% if challenge.status == 'Failed' %}
                accomplished-fail
            {% elif challenge.status == 'Waiting' %}
                accomplished-waiting
            {% else %}
                accomplished-success
            {% endif %}
            challenge shadow-sm">
                <a href="{% url 'challenge_view' challenge.pk %}">
                    <h6 class="text-right">{{ challenge.status }}</h6>
                    <p>
                        {{ challenge.about }}
                    </p>
                    <div class="mt-3">
                        {% for tag in challenge.tags.all %}
                            <span class="badge badge-info">
                                {{ tag }}
                            </span>
                        {% endfor %}
                    </div>
                    <p class="text-right">{{ challenge.published }}</p>
                    <div class="progress mt-2">
                        <div class="progress-bar progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <p>$<span class="reached">{{ challenge.price_reached }}</span> / $<span class="goal">{{ challenge.price_goal }}</span></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% endif %}
{% endfor %}